body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    background-color: sandybrown;
    padding: 100px 0;
    justify-content: center;    
}

header h1 {
    font-size: 38px;
}

main{
    display: flex;
    background-color: rgb(136, 219, 140);
    padding: 200px 0;
    justify-content: center;    
}

.about-main {
    display: flex;
    background-color: rgb(136, 150, 219);
    padding: 200px 0;
    justify-content: center;    
}
.contacts-content {
    display: flex;
    background-color: rgb(109, 136, 115);
    padding: 200px 0;
    justify-content: center;    
}